<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="../../assets/back.png" width="30" height="30" class="d-inline-block align-top" routerLink="/group-list">
      Channel List
    </a>
</nav>

<ul class ="list-group m-3">
    <button class="list-group-item list-group-item-action" *ngFor="let channel of channels">
      {{channel}}
      <button (click)="presentModal('Delete',channel)" class="btn btn-light float-right" data-toggle="modal" data-target="#apiModal">DELETE USER</button>
      <button (click)="presentModal('Add',channel)" class="btn btn-light float-right" data-toggle="modal" data-target="#apiModal">ADD USER</button>
    </button>
  </ul>

  <!-- Modal -->
<div class="modal fade" id="apiModal" tabindex="-1" role="dialog" aria-labelledby="apiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="apiModalLabel">{{operation}} User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="list-group" *ngFor="let user of modalList">
              <button (click)="selectUser(user)" type="button" class="list-group-item list-group-item-action">{{user.username}}</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="modalConfirm()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>